<header>
  <div class="veil">
    <a href="/" class="left"><i class="fa fa-arrow-left"></i></a>
    <h1>Avalanche Ranch Cabins</h1>
  </div>
</header>
<section class="cabins">
  <p>
    <i class="fa fa-hand-peace-o"></i>
    <a target="_blank" href="http://avalancheranch.com/">Link to Avalanche Ranch Website</a>
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> 3-night stay for wedding guests only includes June 17, 18, 19 2016
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> Other lodging is available in the area as an alternative.
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> If you are staying in a cabin during the wedding, please pay Ryne and Brendan by April 1st. Pay us using <a href="https://venmo.com/">Venmo</a>, Or mail us a check to: 1005 Huebinger Dr. Glenwood Springs, Colorado 81601.
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> Please <a href="mailto:rbg.colorado@gmail.com">send us an email</a> if you have questions or need to know your exact total.
  </p>
</section>
<img class="avalanche" src="http://thoughtandsight.com/wp-content/uploads/2013/11/barn1.jpg" alt="" />
