<a href="/" class="left"><i class="fa fa-arrow-left"></i></a>
<h1>Cabins Available</h1>
<table>
  <tr>
    <th>
      Cabin
    </th>
    <th>
      Occupancy
    </th>
    <th>
      Cost for 3 Nights
    </th>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/7-the-roost/">#7 The Roost</a>
    </td>
    <td>
      4
    </td>
    <td>
      $609.33
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/8-north-woods/">#8 North Woods</a>
    </td>
    <td>
      4
    </td>
    <td>
      $609.33
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/14-route-66/">#14 Route 66</a>
    </td>
    <td>
      3
    </td>
    <td>
      $513.12
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/shepherds-wagon/">Shepherds Wagon</a>
    </td>
    <td>
      2
    </td>
    <td>
      $272.61
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/covered-wagon/">Covered Wagon</a>
    </td>
    <td>
      2
    </td>
    <td>
      $272.61
    </td>
  </tr>
</table>
