<a href="/" class="left"><i class="fa fa-arrow-left"></i></a>
<h1>Cabins</h1>
<br>
<section class="brown">
  <h2>Staying at Avalanche Ranch during our wedding:</h2>
  <p>
    <i class="fa fa-hand-peace-o"></i> Link to Avalanche Ranch Website:
    <a target="_blank" href="http://avalancheranch.com/">Avalanche Ranch</a>
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> 3-night stay for wedding guests only includes June 17, 18, 19 2016
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> Other lodging is available in the area as an alternative.
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> If you want to book a cabin at Avalanch Ranch for the special 3 nights for the wedding, you'll book through
    <br>us and pay us directly as per request of the owners. Additional nights can be purchased through their website.
  </p>

</section>
<h4>Cabins Available</h4>
<table>
  <tr>
    <th>
      Cabin
    </th>
    <th>
      Occupancy
    </th>
    <th>
      Cost for 3 Nights
    </th>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/7-the-roost/">#7 The Roost</a>
    </td>
    <td>
      4
    </td>
    <td>
      $609.33
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/14-route-66/">#14 Route 66</a>
    </td>
    <td>
      3
    </td>
    <td>
      $513.12
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/shepherds-wagon/">Shepherds Wagon</a>
    </td>
    <td>
      2
    </td>
    <td>
      $272.61
    </td>
  </tr>
  <tr>
    <td>
      <a href="http://avalancheranch.com/cabins/covered-wagon/">Covered Wagon</a>
    </td>
    <td>
      2
    </td>
    <td>
      $272.61
    </td>
  </tr>
</table>
