<h1>{{title}}</h1>
<p> 6-18-16</p>

<section class="brown">
  <h2>Basic wedding and cabin rental facts</h2>
  <p><i class="fa fa-hand-peace-o"></i> We'll be getting married at Avalanche Ranch Cabins and Hot Springs in <a href="https://www.google.com/maps/place/Avalanche+Ranch/@39.1118435,-107.6149493,308760m/data=!3m1!1e3!4m2!3m1!1s0x874056e2627a6cb3:0x4695b76b57c65e51!6m1!1e1" target="_blank">Redstone, CO</a>.</p>
  <p>
    <i class="fa fa-hand-peace-o"></i> If you'd like to see the cabins, please check out their website here:
    <a target="_blank" href="http://avalancheranch.com/">Avalanche Ranch</a>
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> 3-night stay for wedding guests only includes June 17, 18, 19 2016
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> Rates for cabins will be the standard rate times three nights + plus tax. Pet fee is $25.
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> Other lodging is available in the area as an alternative.
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i> If you want to book a cabin at Avalanch Ranch for the special 3 nights for the wedding, you'll book through
    <br>us and pay us directly as per request of the owners. Additional nights can be purchased through their website.
  </p>
  <p>
    <i class="fa fa-hand-peace-o"></i><a href="/cabins">Click Here to see which cabins are still available.</a>
  </p>
</section>

<form method="post" action="mailto:rbg.colorado@gmail.com">
  <h3>Questions about the cabins? Send us a quick email:</h3>
    <!-- <input type="text" name="name" placeholder="What's your name?"><br>
    <input type="email" name="email" placeholder="What's your email?"><br>
    <textarea name="message" rows="8" cols="40" placeholder="What's your question?"></textarea><br> -->
    <input type="submit" value="Send Email">
</form>
<div class="timbutt">

</div>
<h4>Our wedding is dog-friendly <i class="fa fa-thumbs-o-up"></i> Bring your pooch</h4>
<img class="timbutt" src="images/timbosontopoftheworldhey.jpg" alt="aww pup" />
