<section class="ptarmigan">
  <div class="veil">
    <h1>{{title}}</h1>
    <p class="megatron"> 6-18-16</p>
    <br>
    <br>
    <br>
    <div class="block card2" onclick="flip2()">
      <h3 class="front">Please join us for dinner on Friday</h3>
      <div class="back">
        <p>Everyone coming to the wedding is invited!</p>
        <a href="#">Location</a>
        <br><br>
        <a href="#">Map</a>
      </div>
    </div>
    <div class="block card1" onclick="flip1()">
      <h3 class="front">Nuptials</h3>
      <div class="back">
        <p>Saturday, June 18
          <br> 3:00pm </p>

        <a target="_blank" href="http://avalancheranch.com/">Avalanche Ranch</a>
        <br>
        <br>
        <a href="https://www.google.com/maps/place/Avalanche+Ranch/@39.1118435,-107.6149493,308760m/data=!3m1!1e3!4m2!3m1!1s0x874056e2627a6cb3:0x4695b76b57c65e51!6m1!1e1" target="_blank">Redstone, CO</a>
      </div>
    </div>
    <div class="block card3" onclick="flip3()">
      <h3 class="front">RSVP</h3>
      <div class="back">
        <p>Click below to RSVP for Wedding and Dinner on Friday</p>
        <a href="/users">RSVP Now</a>
      </div>
    </div>
    <div class="block card4" onclick="flip4()">
      <h3 class="front">Dancing Tunes</h3>
      <div class="back">
        <p>Tell us what you like to dance to:</p>
        <a href="/songs">Submit a Song Request Now</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <section class="brown">
      <nav>
        <a href="/cabins">Avalanche Ranch Cabins</a>  |
        <!-- <a href="/lodging">Other Lodging</a>    | -->
        <a href="/todo">Things To Do</a>
        <!--  | <a href="/registry">Registry</a> -->
        |  <a href="mailto:rbg.colorado@gmail.com">Questions? Email Us!</a>
      </nav>
    </section>
  </div>
</section>
<div class="timbutt">

</div>
<section class="timbutt">
  <h4 class="pooch">Our wedding is dog-friendly <i class="fa fa-thumbs-o-up"></i> Bring your pooch</h4>
</section>
