<h1>{{title}}</h1>
<br>
<br>
<p> 6-18-16</p>

<section class="brown">
  <nav>
    <a href="/cabins">Avalanche Ranch Cabins</a>  |
    <a href="/lodging">Other Lodging</a>    |
    <a href="/todo">Things To Do</a>    |
    <a href="/getting">Getting Here</a>
  </nav>
</section>
<div class="block">
  <h3>Location</h3>
  <p>We'll be getting married at Avalanche Ranch Cabins and Hot Springs in <a href="https://www.google.com/maps/place/Avalanche+Ranch/@39.1118435,-107.6149493,308760m/data=!3m1!1e3!4m2!3m1!1s0x874056e2627a6cb3:0x4695b76b57c65e51!6m1!1e1" target="_blank">Redstone, CO</a></p>
</div>
<div class="block">
  <form method="post" action="mailto:rbg.colorado@gmail.com">
    <h3>Questions</h3>
      <input type="submit" value="Send Us an Email">
  </form>
</div>
<div class="block">
  <h3>RSVP</h3>
  <p>
    coming soon...
  </p>
</div>
<div class="block">
  <h3>Dancing Tunes</h3>
  <p>
    coming soon...
  </p>
</div>
<br>
<br>

<div class="timbutt">

</div>
<h4>Our wedding is dog-friendly <i class="fa fa-thumbs-o-up"></i> Bring your pooch</h4>
<img class="timbutt" src="images/timbosontopoftheworldhey.jpg" alt="aww pup" />
