<h1>{{title}}</h1>
<p> 6-18-16</p>
<p class="brown">
  <i class="fa fa-hand-peace-o"></i> We'll be getting married at Avalanche Ranch Cabins and Hot Springs.
</p>
<p class="brown">
  <i class="fa fa-hand-peace-o"></i> If you'd like to see the cabins available for 3-day stay, please check out their website here:
</p>
    <p>
      <a target="_blank" href="http://avalancheranch.com/">Avalanche Ranch</a>
    </p>
<p class="brown">
  <i class="fa fa-hand-peace-o"></i> Rates will equal the rate listed on the website for three nights: June 17, 18, 19 2016 + plus tax.
</p>


<form method="post" action="mailto:rbg.colorado@gmail.com">
  <h3>Questions about the cabins? Send us a quick email:</h3>
    <!-- <input type="text" name="name" placeholder="What's your name?"><br>
    <input type="email" name="email" placeholder="What's your email?"><br>
    <textarea name="message" rows="8" cols="40" placeholder="What's your question?"></textarea><br> -->
    <input type="submit" value="Send Email">
</form>
<h4>Our wedding is dog-friendly! Bring your pooch!</h4>
