<section class="ptarmigan">
  <div class="veil">
    <h1>{{title}}</h1>
    <p class="megatron"> 6-18-16</p>
    <br>
    <br>
    <br>
  <div id="accordion" class="ui-accordian">
      <h3>Information</h3>
      <div>
        <p><i class="fa fa-info-circle"></i>   Click on the white headlines below for information about the Wedding Weekend</p>
      </div>
      <h3 class="front ui-accordion-header">Welcome Dinner</h3>
      <div class="back ui-accordion-content">
        <p>Everyone coming to the wedding is invited to a 'welcome' dinner the night before the wedding!</p>
        </br><i class="fa fa-cutlery"></i></br>
        <p>Please join us at the Redstone Inn at 6pm</p>
        </br><i class="fa fa-cutlery"></i></br>
        <p>
          Please RSVP for Dinner Friday along with your Wedding RSVP
        </p>
        </br><i class="fa fa-cutlery"></i></br>
        <a target="_blank" href="http://redstoneinn.thegilmorecollection.com/">Redstone Inn</a>
        <br><br>
        <a target="_blank" href="https://www.google.com/maps/place/Redstone+Inn/@39.1801823,-107.2419395,17z/data=!3m1!4b1!4m2!3m1!1s0x8740577f253ae81d:0x3e250b5c2fc922ac">Map</a>
      </div>
      <h3 class="front">Nuptials</h3>
      <div class="back">
        <p>Saturday, June 18
          <br> 3:00pm </p>
        <br><i class="fa fa-heart-o"></i><br>
        <a target="_blank" href="http://avalancheranch.com/">Avalanche Ranch</a>
        <br><i class="fa fa-heart-o"></i><br>
        <a href="https://www.google.com/maps/place/Avalanche+Ranch/@39.1118435,-107.6149493,308760m/data=!3m1!1e3!4m2!3m1!1s0x874056e2627a6cb3:0x4695b76b57c65e51!6m1!1e1" target="_blank">Redstone, CO</a>
        <br><i class="fa fa-heart-o"></i><br>
        Please Click RSVP Below
      </div>
      <h3 class="front">RSVP</h3>
      <div class="back">
        <p>Click below to RSVP for Wedding and Dinner on Friday</p>
        <br><i class="fa fa-check-square-o"></i><br>
        <a href="/users">RSVP Now</a>
        <br><i class="fa fa-check-square-o"></i><br>
        Please, RSVP by April 15th
      </div>
      <h3 class="front">Dancing Tunes</h3>
      <div class="back">
        <p>Tell us what you like to dance to:</p>
        <br><i class="fa fa-music"></i><br>
        <a href="/songs">Submit a Song Request Now</a>
      </div>
  </div>
    <br>
    <br>
    <br>
    <section class="brown">
      <nav>
        <a href="/cabins">Avalanche Ranch Cabins</a>
        <!-- <a href="/lodging">Other Lodging</a>    | -->
        <a href="/todo">Things To Do</a>
        <!--  | <a href="/registry">Registry</a> -->
        <a href="mailto:rbg.colorado@gmail.com">Questions? Email Us!</a>
      </nav>
    </section>
  </div>
</section>

<section class="timbutt">
  <h4 class="pooch">Our wedding is dog-friendly </br><i class="fa fa-thumbs-o-up"></i></br>Bring your pooch</h4>
</section>
<!-- <script type="text/javascript" src="javascripts/flip.js"></script> -->
