<header>
  <div class="veil">
    <a href="/" class="left"><i class="fa fa-arrow-left"></i></a>
    <h1>Lodging</h1>
  </div>
</header>
<section>
  <p>This is a pretty touristy area, so there are a lot of options for lodging. There's also a lot of camping options in the area.</p>
</section>
