<a href="/" class="rsvp"><i class="fa fa-arrow-left"></i></a>
<h1 class="rsvp">RSVP</h1>

<img class="rsvp" src="/images/goats.jpg" alt="goats" />
<h2 class="rsvp">Please fill this form out once for each person in your party</h2>

<form class="rsvp" action="/users" method="post">
  <label  for="firstName">First Name</label><input id="firstName" accept=""  type="text" name="firstName" value="" >
  <br>
  <label   for="lastName">Last Name</label><input id="lastName" accept=""  type="text" name="lastName" value="" >
  <br>
  <h3>RSVP for Dinner Friday  - All are Welcome!</h3>
  <p> Friday, June 17th, 2016 - 6:00 pm. </p>
  <label for="rehearsalDinner">RSVP for Rehearsal Dinner</label><input type="checkbox" name="rehearsalDinner" value="Attending">
  <br>
  <h3>RSVP for the Wedding Ceremony + Reception</h3>
  <p>
    Saturday, June 18th, 2016 - 3:00 pm.
  </p>
  <p>
    Avalanche Ranche ~ Redstone, CO
  </p>
  <label for="rehearsalDinner">RSVP for Wedding</label><input type="checkbox" name="wedding" value="Attending">
  <br>
  <input type="submit" name="guest_submit" value="Go!">
</form>
