<header>
  <div class="veil">
    <a href="/" class="left"><i class="fa fa-arrow-left"></i></a>
    <h1>Things To Do</h1>
  </div>
</header>
<section class="todo">
  <div class="ttd one">
    <h5>Hiking</h5>
    <p>There are plenty of great hikes in the area near the vacinity. The Avalanche Ranch gift shop has a *free* map for guests that covers all of them.</p>
    <ul>
      <li><a target="blank" href="http://www.carbondale.com/activities-recreation/trails">Trails in the Carbondale Area</a></li>
      <li><a target="blank" href="http://www.mcrchamber.org/attractions/hiking-trails">Trails near Marble</a></li>
      <li><a target="blank" href="http://www.colorado.com/articles/explore-maroon-bells-what-you-need-know">Maroon Bells</a></li>
      <li><a target="blank" href="http://www.fs.usda.gov/wps/portal/fsinternet/!ut/p/c4/04_SB8K8xLLM9MSSzPy8xBz9CP0os3gDfxMDT8MwRydLA1cj72BTJw8jAwjQL8h2VAQAzHJMsQ!!/?ss=110215&navid=110000000000000&pnavid=null&cid=FSE_003741&recid=41225&ttype=recarea&navtype=BROWSEBYSUBJECT&position=BROWSEBYSUBJECT&pname=White+River+National+Forest+-+Hanging+Lake+Trail+%231850">Hanging Lakes (image to right)</a></li>
    </ul>
  </div>
  <div class="ttd two">
    <img src="/images/hanginglake.jpg" alt="hanging lake"/>
  </div>
  <div class="ttd five">
    <h5>Water sports</h5>
    <p>This is the Roaring Fork Valley, there are several major rivers and plenty of fun activities surrounding them.</p>
    <a href="#">Fly Fishing</a><a href="#">Kayaking</a><a href="#">Rafting</a>
  </div>
  <div class="ttd three">
    <img src="/images/maroon.jpg" alt="touristy" />
  </div>
  <div class="ttd four">
    <h5>Go ahead, Be a Tourist</h5>
    <p>Seriously! There are a lot of really cool 'touristy' things to do in this area. Throw on that fanny pack - the perfect hands-free accessory for such an occasion - and discover Colorful Colorado.</p>
    <ul>
      <li><a target="blank" href="http://www.visitglenwood.com/things-to-do">Glenwood Springs Tourism site</a></li>
      <li><a  target="blank" href="http://coloradobeer.org/">Breweries</a></li>
      <li><a target="blank" href="http://coloradowine.com/">Wine Country</a></li>
      <li><a target="blank" href="http://www.colorado.com/national-parks-colorado">National Parks</a></li>
    </ul>
  </div>
<div class="ttd five" style="margin-bottom: 0;">
  <h5>History - The Wild West - The Gold Rush</h5>
</div>

</section>
<div class="clearfix">

</div>
<section class="brown clear" style="margin-bottom: 0; margin-top: -218px;">
  <nav>
    <a href="/cabins">Avalanche Ranch Cabins</a>  |
   <!-- <a href="/lodging">Other Lodging</a>    | -->
    <a href="/todo">Things To Do</a>
    <!--  | <a href="/registry">Registry</a> -->
  </nav>
</section>
