<a href="/" class="yay"><i class="fa fa-arrow-left"></i></a>

<div class="yay">
  <h1>yay!!! {{guest.fullName}}!!!!!!</h1>
  <p>we're glad you're coming. please check this website often for updates about events around our wedding</p>

  <button type="button" name="button"><a href="/users">RSVP for Someone Else </a></button>
  <button type="button" name="button"><a href="/">Return Home</a></button>
</div>
