/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end of reset*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* RSVP Form Styles */
h1.rsvp {
  display: inline-block;
  color: black; }

h2.rsvp {
  margin-top: 20px; }

img.rsvp {
  display: block;
  width: 50%;
  margin-left: 25%; }

a.rsvp {
  color: black;
  float: left; }

form.rsvp {
  padding: 5%;
  width: 60%;
  margin-left: 20%; }
  form.rsvp input, form.rsvp .guest_form input {
    background-color: white;
    width: 200px;
    border-radius: 0;
    color: black;
    display: inline-block;
    width: 40%;
    text-align: left;
    border-bottom: 2px solid black; }
  form.rsvp input[type='submit'] {
    background-color: #bf58ac;
    font-size: 20px;
    text-align: center;
    border: none; }
    form.rsvp input[type='submit']:hover {
      background-color: #00B7FF;
      color: white; }
  form.rsvp label, form.rsvp .guest_form label {
    color: black;
    font-size: 18px; }
  form.rsvp h3 {
    color: black;
    font-weight: bold;
    font-size: 24px;
    border: 3px solid #bf58ac;
    padding: 5px; }
  form.rsvp p {
    color: #bf58ac;
    font-size: 16px;
    margin: 3%;
    text-align: center; }

/* Cabins styles */
.cabins p {
  color: #00B7FF;
  text-align: left;
  padding: 2%;
  margin: 0 9%;
  font-size: 20px;
  line-height: 1.7;
  font-weight: bold; }

.cabins a {
  color: #bf58ac;
  font-weight: bold; }

.cabins {
  width: 60%;
  float: left; }

.avalanche {
  width: 40%;
  float: left; }

/* Things To Do Styles */
.ttd h5 {
  font-size: 24px;
  color: #675f4d;
  margin-bottom: 10px; }

.ttd p {
  font-size: 14px;
  color: #675f4d;
  line-height: 1.5;
  text-align: left; }

div.ttd.one {
  float: left;
  width: 50%;
  height: 380px;
  margin: 0;
  padding: 20px; }

div.ttd.one a, div.ttd.four a {
  color: #515e07; }

div.ttd.one li, div.ttd.four li {
  margin: 15px; }

div.ttd.two {
  background-color: #515e07;
  float: right;
  width: 50%;
  height: 380px; }

div.ttd.two img {
  width: auto; }

div.ttd.three {
  float: left;
  width: 52%;
  height: 410px;
  margin: 0; }

.three img {
  float: left; }

div.ttd.four {
  padding: 20px;
  float: right;
  width: 48%;
  height: 410px;
  margin: 0; }

div.ttd.five {
  clear: both;
  width: 100%;
  background-color: #515e07;
  height: 200px;
  padding: 20px; }

div.ttd.five p {
  color: white;
  text-align: center;
  margin-bottom: 50px; }

div.ttd.five h5 {
  color: white;
  text-align: center; }

div.ttd.five a {
  margin: 30px; }

i {
  font-size: 24px !important; }

#accordion {
  /* 	width: 22%; */
  width: 100%;
  /* 	float: left;
margin-left: 2%; */
  line-height: 1.5;
  border: 10px solid white;
  border-radius: 5px;
  /* 	height: 250px; */
  background-color: rgba(81, 94, 7, 0.7);
  /* 	margin-bottom: 20px;
 */
  /* 	-webkit-transition: -webkit-transform 1s;
 -moz-transition: -moz-transform 1s;
 -o-transition: -o-transform 1s;
 transition: transform 1s;
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transform-origin: 50% 50%;
 margin-bottom: 70px; */
  /*  &.flipped {
	    -webkit-transform: rotateY( 180deg );
	    -moz-transform: rotateY( 180deg );
	    -o-transform: rotateY( 180deg );
	    transform: rotateY( 180deg );
	}
	.back {
	    -webkit-transform: rotateY( 180deg );
	    -moz-transform: rotateY( 180deg );
	    -o-transform: rotateY( 180deg );
	    transform: rotateY( 180deg );
			-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	} */ }
  #accordion h3 {
    width: 100%;
    font-size: 36px;
    background-color: white;
    color: rgba(81, 94, 7, 0.7);
    border: rgba(81, 94, 7, 0.7) 1px solid;
    border-radius: 5px; }
  #accordion .back {
    margin: 30px 0; }
  #accordion a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    color: #00B7FF; }
  #accordion i {
    margin: 10px 0; }

@media (min-width: 850px) {
  section.ptarmigan, div.veil {
    overflow: auto; }
  div#accordion.ui-accordian.ui-accordian.ui-widget.ui-helper-reset {
    border: none;
    width: 70%;
    float: right;
    display: inline-block; }
  section.brown {
    display: inline-block;
    width: 25%;
    margin-top: -46px;
    border-radius: 5px; }
    section.brown nav {
      display: inline-block; }
      section.brown nav a {
        display: inline-block;
        line-height: 1.5;
        text-decoration: none;
        border-bottom: 2px solid white; }
    section.brown:after {
      clear: both; }
  #ui-id-2 {
    height: 70px !important; }
    #ui-id-2 p {
      width: 80%;
      margin-left: 10%; } }

/* Hidden  All Page for checking RSVPs styles */
.all p {
  color: green; }

.guest p {
  color: #bf58ac;
  margin-bottom: 30px; }

.guest a {
  color: black; }

.guest button {
  background-color: #bf58ac;
  font-size: 20px;
  text-align: center;
  border: none; }
  .guest button:hover {
    background-color: #00B7FF;
    color: white; }
  .guest button a {
    border: none; }
    .guest button a:hover {
      color: white; }

/* RSVP success form, yay, styles */
.yay button {
  background-color: #bf58ac;
  font-size: 20px;
  text-align: center;
  border: none; }
  .yay button:hover {
    background-color: #00B7FF;
    color: white; }
  .yay button a {
    border: none; }
    .yay button a:hover {
      color: white; }

.yay h1 {
  color: black;
  margin-bottom: 20px; }

.yay i {
  color: black;
  float: left; }

.yay p {
  color: #bf58ac; }

.yay button {
  color: black; }

.yay img {
  width: 30%;
  margin-top: 5%;
  margin-bottom: 3%; }

.yay p {
  margin-bottom: 3%; }

input {
  border: none;
  margin: 20px 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #00B7FF;
  color: white; }

.eform {
  clear: both;
  margin-top: 20px; }

h1 {
  color: white;
  font-size: 60px; }

h2 {
  font-size: 32px;
  color: #00B7FF;
  text-shadow: 1px 1px 1px white; }

h4 {
  color: #12420d;
  font-size: 18px;
  font-weight: 700; }

a {
  color: white;
  font-weight: 800;
  /*   border-bottom: 2px solid white;
 */ }

a:hover {
  color: #00B7FF;
  /*   border-bottom: 2px solid #00B7FF;
 */ }

nav a {
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 10px; }

p {
  font-weight: 400;
  color: white;
  font-size: 20px; }

.pooch {
  font-size: 30px;
  font-weight: 800;
  color: white;
  position: relative;
  top: -50px; }

.megatron {
  font-size: 100px;
  padding: 100px 0px;
  text-shadow: white 1px 1px; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  letter-spacing: 2px;
  font-weight: 600; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  /*   padding: 50px;
 */
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: 500; }

header {
  background: url(../images/ptarmigan.jpg) no-repeat center center fixed;
  width: 100%;
  height: 100px; }

section {
  clear: both; }

/* Brown Section of Navigation Items */
.brown {
  background-color: #675f4d;
  width: 100%;
  padding: 10px 0;
  /* 	position: relative;
 */
  /* 	top: 168px;
 */ }
  .brown p {
    /*     margin: 30px 20px;
 */
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    line-height: 2.0;
    text-indent: 30px hanging; }
  .brown nav a {
    display: block;
    margin: 25px; }

.timbutt {
  clear: both;
  background: url(../images/timbosontopoftheworldhey.jpg) no-repeat center center fixed;
  width: 100%;
  height: 600px;
  margin-bottom: 0; }

.ptarmigan {
  background: url(../images/ptarmigan.jpg) no-repeat center center fixed;
  width: 100%;
  /* 	height: 1000px;
 */ }

.veil {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%; }

.left {
  float: left;
  margin: 10px;
  border-bottom: none; }

.left:hover {
  border: none; }

table {
  background-color: rgba(103, 95, 77, 0.5);
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  padding: 30px; }

td {
  padding: 30px;
  border-bottom: 1px solid white; }

th {
  font-size: 24px; }

.pooch {
  height: 300px;
  position: relative;
  top: 112px; }

.container {
  float: left;
  width: 30%;
  height: 500px;
  margin-left: 3%;
  margin-bottom: 5%;
  background-color: rgba(81, 94, 7, 0.7); }
  .container p {
    font-size: 22px;
    margin-top: 10px; }
    .container p.first {
      color: black;
      text-shadow: gray 1px 1px 2px;
      font-weight: 800; }

.container img {
  width: 100%; }

h1.songs {
  color: black;
  margin-bottom: 20px; }

h2.songs {
  clear: both;
  color: green; }
  h2.songs:first-of-type {
    margin-top: 5%; }

h3.songs, p.songs {
  color: purple;
  margin-bottom: 2%;
  font-size: 20px; }

p.songs {
  text-align: left;
  padding-left: 3%;
  line-height: 2;
  margin: 8% 0; }
  p.songs:first-of-type {
    margin-top: 3%; }

img.songs {
  height: 371px; }

img.field {
  width: 50%;
  float: left; }

div.field {
  width: 50%;
  float: left; }
