/* Cabins styles */
.cabins p {
	color: #00B7FF;
	text-align: left;
	padding: 2%;
	margin: 0 9%;
	font-size: 20px;
	line-height: 1.7;
	font-weight: bold;
}

.cabins a {
	color: rgb(191, 88, 172);
	font-weight: bold;
}

.cabins {
	width: 90%;
	margin-left: 5%;
}

.avalanche {
	width: 100%;
	margin-top: 10%;
}

@media (min-width: 850px) {
	.avalanche {
		width: 40%;
		float: left;
	}
	.cabins {
		width: 60%;
		float: left;
	}
}
