
#accordion {
/* 	width: 22%; */
margin-top: -40px;
width: 100%;
/* 	float: left;
margin-left: 2%; */
	line-height: 1.5;
/* 	border: 10px solid white;
 */	border-radius: 5px;
/* 	height: 250px; */
	background-color: rgba(81, 94, 7, 0.7);
	h3 {
		width: 100%;
		font-size: 36px;
		background-color: white;
		color: rgba(81, 94, 7, 0.7);
		border: rgba(81, 94, 7, 0.7) 1px solid;
		border-radius: 5px;
	}
.back {
	margin: 30px 0;
}
a {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 28px;
	color: #00B7FF;
}
i {
	margin: 10px 0;
}


/* 	margin-bottom: 20px;
 *//* 	-webkit-transition: -webkit-transform 1s;
 -moz-transition: -moz-transform 1s;
 -o-transition: -o-transform 1s;
 transition: transform 1s;
 -webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
 -o-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transform-origin: 50% 50%;
 margin-bottom: 70px; */
	/*  &.flipped {
	    -webkit-transform: rotateY( 180deg );
	    -moz-transform: rotateY( 180deg );
	    -o-transform: rotateY( 180deg );
	    transform: rotateY( 180deg );
	}
	.back {
	    -webkit-transform: rotateY( 180deg );
	    -moz-transform: rotateY( 180deg );
	    -o-transform: rotateY( 180deg );
	    transform: rotateY( 180deg );
			-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
	} */
}
 @media (min-width: 850px) {
	 section.ptarmigan, div.veil {
		 overflow: auto;
	 }
	 div#accordion.ui-accordian.ui-accordian.ui-widget.ui-helper-reset {
		 border: none;
		 width: 70%;
		 float: right;
		 margin-right: 15%;
		 margin-bottom: 10%;
		 display: inline-block;
			 a {
				 color: white;
				 &:hover {
					 color: #00B7FF
				 }
			 }
	 }
/* 	 section.brown {
		 display: inline-block;
		 width: 25%;
		 margin-top: -46px;
		 border-radius: 5px;
		 nav{
			 display: inline-block;
			  a {
				 display: inline-block;
				 line-height: 1.5;
				 text-decoration: none;
				 border-bottom: 2px solid white;
			 }
	}
		&:after {
			clear: both;
		}
} */

//Information Card
	 #ui-id-2 {
		 max-height: 70px !important;
	 }
 }

 #ui-id-2 {
	 max-height: 142px !important;
	 p {
		 width: 80%;
		 margin-left: 10%;
	 }
 }

//Welcome Dinner Card
 #ui-id-4 {
	 height: 450px;
 }

 //RSVP Card and Dancing Card
#ui-id-8, #ui-id-10 {
	 max-height: 220px !important;
 }

// Nuptials Card
 #ui-id-6 {
	 max-height: 293px !important;
 }
